.bg {
  background-image: url("../assets/images/space.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  position: relative;
}

.bg:hover{
  filter:blur(100%)
}

.typed_letters{
  color: rgb(255, 255, 255);
  margin-left: 5%;
  position: absolute;
  top: 200px;
  z-index: 2;
  font-size: 50px;
  font-weight: 900;
  font-family: monospace, "Lucida Console", "Courier New";
  text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
